button.loginFormButton, .loginFormButton{
    background-color: #0003b3;
    padding: 10px;
    margin: 0 5px 5px;
    border-radius: 10px;
    font-size: 20px;
}

button.loginFormButton:hover, .loginFormButton:hover{
    background-color: #0004e0;
}

.loginFormButton{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: white;
}

button.logoutButton{
    background-color: rgb(121, 0, 0);
}

button.logoutButton:hover{
    background-color: rgb(190, 0, 0);
}

Form.settingForm{
    text-align: center;
    vertical-align: middle;
    gap: 0px;
}

div.settingPage{
    padding-top: 70px;
    padding-bottom: 270px;
}

div.justFlex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

div.buttonAlign{
    display: flex;
    flex-direction: column;
    gap: 150px;
}

Form.authForm{
    padding-top: 150px;
    padding-bottom: 270px;
    text-align: center;
    vertical-align: middle;
    gap: 0px;
}

Form h1{
    color: white;
}

Form input{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    background-color: #4d50ffbb;
    border-collapse: collapse;
    border: none;
    color: white;
    outline: none;
}

Form input.range{
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}

Form input.range:focus{
    transform: none;
    transition: none;
}

Form span{
    color: white;
    margin: 5px;
}

Form input::placeholder{
    color: rgba(255, 255, 255, 0.767);
}

Form input:focus{
    transform: scale(1.06);
    transition: 0.6s
}

img.uploadAlbumCover{
    width: 300px;   
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

img.uploadImageCover{
    padding: 0px;
    margin: 0px;
    width: 300px;   
    height: 300px;
    border-radius: 200px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

@media screen and (max-width: 1300px){
    img.uploadAlbumCover{
        width: 200px;
        height: 200px;
        margin-bottom: 30px;
        border-radius: 20px;
    }
}

@media screen and (max-width: 1300px){
    Form input{
        width: 60%;
    }
}