button.loginFormButton, .loginFormButton{
    background-color: #0003b3;
    padding: 10px;
    margin: 0 5px 5px;
    border-radius: 10px;
    font-size: 20px;
}

button.loginFormButton:hover, .loginFormButton:hover{
    background-color: #0004e0;
}

.loginFormButton{
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    color: white;
}

button.logoutButton{
    background-color: rgb(121, 0, 0);
}

button.logoutButton:hover{
    background-color: rgb(190, 0, 0);
}

Form.settingForm{
    text-align: center;
    vertical-align: middle;
    gap: 0px;
}

div.settingPage{
    padding-top: 70px;
    padding-bottom: 150px;
}

div.justFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    gap: 50px;
}

div.kepAlign{
    flex: 2;
    justify-content: end;
}

div.buttonAlign{
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 1;
    text-align: right;
}

div.justFlex2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    gap: 30px;
}

div.numInputs{
    position: relative;
    flex: 1;
    padding: 0;
    margin: 0;
    margin-left: -10px;
    margin-right: -10px;
}

div.numInputs input{
    width: 100%;
    box-sizing: border-box;
}

button.lenyiloGomb{
    font-size: 20px;
    padding: 9px;
    border-radius: 10px;
    background-color: #1a1de3db;
    border: none;
    color: white;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

div.selection{
    font-size: 20px;
    background-color: #22237ecb;
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
}

.labelElem{
    display: flex;
    padding: 8px;
    gap: 10px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding-left: auto;
    padding-right: auto;
}

.labelElem:hover{
    background-color: #3133a8cb;
}

label.labelElem input{
    width: 20px;
    margin-left: 10px;
}

img.upDownImg{
    height: 50px;
    width: 50px;
    margin-top: -10px;
    margin-bottom: -20px;
}

Form.authForm{
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    vertical-align: middle;
    gap: 0px;
}

Form h1, Form p{
    color: white;
}

Form input{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    background-color: #4d50ffbb;
    border-collapse: collapse;
    border: none;
    color: white;
    outline: none;
}

Form input.range{
    width: 100%;
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 15px;
}

Form input.range:focus{
    transform: none;
    transition: none;
}

Form span{
    color: white;
    margin: 5px;
}

Form input::placeholder{
    color: rgba(209, 209, 209, 0.767);
}

Form input:focus{
    transform: scale(1.06);
    transition: 0.6s;
}

Form input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

img.uploadAlbumCover{
    width: 300px;   
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;

}

img.uploadAlbumCover:hover{
    background-color: #282cff32;
}
Form img.uploads{
    width: 200px;   
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

img.uploadImageCover{
    padding: 0px;
    margin: 0px;
    width: 250px;   
    height: 250px;
    border-radius: 200px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
Form div.rangeFlex{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 0px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #3538c0bb;
    border-radius: 10px;
}
Form div.rangeFlex p.rangeCim{
    flex: 2;
    text-align: left;
    padding-left: 5px;
    min-width: 180px;
    margin: 5px;
}
Form div.rangeFlex p.rangeP{
    flex: 4;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
Form div.downFlex{
    position: relative;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 0px;
}
Form div.downFlex input{
    width: 100%;
    margin-left: -10px;
    margin-right: -10px;
}


@media screen and (max-width: 1300px){
    img.uploadAlbumCover{
        width: 200px;
        height: 200px;
        margin-bottom: 30px;
        border-radius: 20px;
    }img.uploadImageCover{
        width: 200px;   
        height: 200px;
    }
    Form input, Form div.rangeFlex, div.justFlex, div.justFlex2{
        width: 60%;
    }
    Form div.downFlex{
        width: 60%;
    }
}

@media screen and (max-width: 1155px){
    div.settingPage{
        padding-top: 70px;
        padding-bottom: 270px;
    }
    Form.authForm{
        padding-top: 70px;
        padding-bottom: 270px;
    }
}

@media screen and (max-width: 900px){
    Form div.rangeFlex{
        padding-top: 10px;
        padding-bottom: -5px;
        flex-direction: column;
    }
}

@media screen and (max-width: 800px){
    div.selection{
        font-size: 10px;
    }
}

@media screen and (max-width: 600px){
    Form input, Form div.rangeFlex, div.justFlex, div.justFlex2{
        width: 90%;
    }
    Form div.downFlex{
        width: 90%;
    }
}