button.loginFormButton, .loginFormButton{
    background-color: #0003b3;
    padding: 10px;
    margin: 0 5px 5px;
    border-radius: 10px;
    font-size: 20px;
}

button.loginFormButton:hover, .loginFormButton:hover{
    background-color: #0004e0;
}

.loginFormButton{
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    color: white;
}

button.logoutButton{
    background-color: rgb(121, 0, 0);
}

button.logoutButton:hover{
    background-color: rgb(190, 0, 0);
}

Form.settingForm{
    text-align: center;
    vertical-align: middle;
    gap: 0px;
}

div.settingPage{
    padding-top: 70px;
    padding-bottom: 270px;
}

div.justFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    gap: 50px;
}
div.kepAlign{
    flex: 2;
    justify-content: end;
}
div.buttonAlign{
    display: flex;
    flex-direction: column;
    gap: 150px;
    flex: 1;
    text-align: right;
}


Form.authForm{
    padding-top: 150px;
    padding-bottom: 270px;
    text-align: center;
    vertical-align: middle;
    gap: 0px;
}

Form h1, Form p{
    color: white;
}

Form input{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    background-color: #4d50ffbb;
    border-collapse: collapse;
    border: none;
    color: white;
    outline: none;
}

Form input.range{
    width: 100%;
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 15px;
}

Form input.range:focus{
    transform: none;
    transition: none;
}

Form span{
    color: white;
    margin: 5px;
}

Form input::placeholder{
    color: rgba(255, 255, 255, 0.767);
}

Form input:focus{
    transform: scale(1.06);
    transition: 0.6s
}

img.uploadAlbumCover{
    width: 300px;   
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

img.uploadImageCover{
    padding: 0px;
    margin: 0px;
    width: 250px;   
    height: 250px;
    border-radius: 200px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
Form div.rangeFlex{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 0px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #3538c0bb;
    border-radius: 10px;
}
Form div.rangeFlex p.rangeCim{
    flex: 2;
    text-align: left;
    padding-left: 5px;
    min-width: 180px;
    margin: 5px;
}
Form div.rangeFlex p.rangeP{
    flex: 4;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 1300px){
    img.uploadAlbumCover{
        width: 200px;
        height: 200px;
        margin-bottom: 30px;
        border-radius: 20px;
    }img.uploadImageCover{
        width: 200px;   
        height: 200px;
    }
    Form input, Form div.rangeFlex, div.justFlex{
        width: 60%;
    }
}

@media screen and (max-width: 900px){
    Form div.rangeFlex{
        padding-top: 10px;
        padding-bottom: -5px;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px){
    Form input, Form div.rangeFlex, div.justFlex{
        width: 90%;
    }
}