button.loginFormButton{
    background-color: #000291;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    font-size: 20px;
}

button.loginFormButton:hover{
    background-color: #0104b9;
}

Form.authForm{
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

Form.authForm input{
    font-size: 20px;
}