.row-link {
    text-decoration: none;
    color: inherit;
    display: block;
    font-size: 20px;
}

.row {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px;
    cursor: pointer;
    color: white;
    background-color: #010042;
    border-radius: 20px;
}

img.mainKep {
    width: 175px;
    height: 175px;
    border-radius: 15px;
    padding-top: 2px;
}

p.mainCim{
    font-size: 30px;
    margin-bottom: -22px;
}

p.creator {
    font-size: 20px;
    color: #cacaca;
}