div.playlistHeader{
    display: flex;
    margin-bottom: 20px;
    color:white;
    gap: 20px;
}

p.cimClass{
    font-size: 27px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

p.eloadoClass{
    font-size: 20px;
    padding-top: 0px;
    margin-top: 0px;
    color: #969393;
    border-radius: 20px;
}

p.listaCim{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
}

p.letrehozo{
    color: #cacaca;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

p.mufajok{
    font-size: 35px;
    margin-top: 10px;
}

span.lowerMufajok{
    font-size: 30px;
    color: #dfdfdf;
}

p{
    font-size: 20px;
}

tr.tableHeader{
    background-color: transparent;
    box-shadow: none;
    font-size: 20px;
    text-align: left;
    margin-left: 40px;
}

td.albumCover{
    margin-left: 20px;
    margin-right: 20px;
    width: 90px;
}

td.gombok{
    text-align: right;
    padding-right: 20px;
    width: 380px;
}

img.zeneGombokImg{
    width: 50px;
    height: 50px;
    padding: 7px;
    border-radius: 10px;
}

img.zeneGombokImgk{
    width: 50px;
    height: 50px;
    padding: 7px;
    border-radius: 10px;
}

img.zeneAlbumCover{
    width: 100px;   
    height: 100px;
    border-radius: 20px;
}

img.albumCoverImg{
    width: 300px;   
    height: 300px;
    border-radius: 20px;
}

.lenyilo{
    border-radius: 7px;
    background-color: #3300aa7e;
    position: absolute;
    right: 47px;
}

p.listaGombtarto{
    background-color: #000291;
    box-shadow: -10px 10px 10px #00000033;
    width: 365px;
    text-align: center;
    border-radius: 20px;
}

button.listaGombok{
    border-radius: 20px;
    padding: 10px;
}

button.listaGombok:hover{
    background-color: #020077;
    border-radius: 20px;
}

img.listaGombokImg{
    width: 70px;
    height: 70px;
}

th{
    font-size: 20px;
}

@media screen and (max-width: 1300px){
    td.gombok{
        text-align: right;
        width: 210px;
        padding-right: 10px;
        margin: 10px;
    }
    td.albumCover{
        margin-left: 10px;
        margin-right: 10px;
        width: 50px;
    }
    img.zeneGombokImg{
        width: 25px;
        height: 25px;
        padding: 6px;
        margin-left: -5px;
        margin-right: -5px;
        border-radius: 8px;
    }
    img.zeneAlbumCover{
        width: 60px;   
        height: 60px;
        border-radius: 10px;
        padding: 5px;
    }
    img.albumCoverImg{
        width: 200px;
        height: 200px;
        margin-bottom: 30px;
        border-radius: 20px;
    }
    p{
        font-size: 12px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    p.cimClass{
        font-size: 15px;
    }
    p.eloadoClass{
        font-size: 12px;
        padding-top: 0px;
        margin-top: 0px;
        color: #969393;
        border-radius: 20px;
    }
    tr.tableHeader{
        font-size: 15px;
        background-color: transparent;
        box-shadow: none;
        text-align: left;
        margin-left: 40px;
    }
    p.listaCim{
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    p.letrehozo{
        font-size: 20px;
        color: #cacaca;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    p.mufajok{
        font-size: 25px;
        margin-top: 10px;
    }
    span.lowerMufajok{
        font-size: 20px;
        color: #dfdfdf;
    }
    img.zeneGombokImgk{
        width: 50px;
        height: 50px;
        padding: 7px;
        border-radius: 10px;
    }
    .lenyilo{
        border-radius: 7px;
        background-color: #3300aa7e;
        position: absolute;
        right: 47px;
    }
    p.listaGombtarto{
        background-color: #000291;
        box-shadow: -10px 10px 10px #00000033;
        width: 240px;
        text-align: center;
        border-radius: 14px;
    }

    button.listaGombok{
        border-radius: 10px;
        padding: 5px;
    }

    button.listaGombok:hover{
        background-color: #020077;
        border-radius: 10px;
    }

    img.listaGombokImg{
        width: 50px;
        height: 50px;
    }

    th{
        font-size: 15px;
    }
}

@media screen and (max-width: 800px){
    img.albumCoverImg{
        margin-bottom: -25px;
        width: 300px;
        height: 300px;
    }
    div.playlistHeader{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    td.gombok{
        width: 90px;
    }
    .lenyilo{
        border-radius: 7px;
        background-color: #3300aa7e;
        position: absolute;
        right: 32px;
    }
    img.zeneGombokImgk{
        width: 25px;
        height: 25px;
        margin-left: -5px;
        margin-right: -5px;
        padding: 4px;
        border-radius: 10px;
    }
    p.listaGombtarto{
        background-color: #000291;
        box-shadow: -10px 10px 10px #00000033;
        width: 240px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border-radius: 14px;
        margin-bottom: 40px;
        margin-top: 25px;
    }
}