table {
    border-collapse: inherit;
    border-spacing: 0 22px;
    color: white;
    width: 100%;
}

tr.zeneSor{
    box-shadow: -10px 10px 10px #00000091;
    background-color: #010042;
    border-radius: 11px;
}

td{
    padding: 10px;
    vertical-align: middle;
}

td:first-child, th:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child, th:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

td.cimEloado{
    width: auto;
}

td.mainAlbumCover{
    margin-bottom: 60px;
    margin-right: 30px;
    width: 200px;
}

td.listaDataTd{
    vertical-align: top;
}

button.zeneGombok :hover{
    transform: scale(1.1);
    background-color: #2130fd33;
}

.playlistContainer{
   padding-bottom: 120px;
   padding-top: 90px;
}

@media screen and (max-width: 1300px){
    div.playlistContainer{
       padding-top: 70px;
    }
}

@media screen and (max-width: 1155px){
    div.playlistContainer{
       padding-bottom: 250px;
    }
}