div.topBar{
    background-color: #0b0072c5;
    color: white;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    align-items: center;
    gap: 15px;
    padding: 10px;
    padding-right: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

img.topGombokImg{
    width: 50px;
    margin-left: 2px;
    margin-bottom: 3px;
    padding: 7px;
    border-radius: 10px;
    vertical-align: middle;
}

img.userPic{
    border-radius: 40px;
    width: 70px;
}

.topGombok :hover{
    background-color: #404cf65d;
}

.keresGomb :hover{
    background-color: #00054a5d;
}

div.backDiv{
    margin-left: -10px;
}

div.midleDiv{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 15px;
    margin-right: auto;
}

div.keresokeret{
    background-color: #00c3ff50;
    border-radius: 10px;
    padding: 5px 0 0 0;
}

input.searchText{
    background-color: transparent;
    font-size: 25px;
    width: 370px;
    border: none;
    outline: none;
    vertical-align: top;
    padding: 15px 6px 10px 5px;
    color: white;
}

div.keresomezo{
    border-radius: 10px;
    padding: 0 15px 0 5px;
    margin-top: -5px;
    margin-bottom: -7px;
    width: 450px;
}

div.userNameDiv, div.home{
    vertical-align: middle;
}

p.userName{
    text-align: right;
    position: absolute;
    top: 18px;
    right: 110px;
}

p.toltelek{
    background-color: transparent;
    border-color: transparent;
    width: 50px;
}

div.userPicDiv, div.backDiv{
    width: 50px;
}


table{
    margin-top: -40px;
}

@media screen and (max-width: 1300px){
    div.topBar{
        padding: 5px 35px 5px 5px;
    }
    div.userPicDiv, div.backDiv{
        width: 30px;
    }
    div.userNameDiv{
        padding-bottom: 25px;
        margin-right: -200px;
    }
    div.midleDiv{
        gap: 7px;
        width: 500px;
    }
    img.topGombokImg{
        width: 30px;
        vertical-align: middle;
    }
    img.userPic{
        width: 50px;
    }
    input.searchText{
        font-size: 20px;
        width: 210px;
        padding-top: 9px;
    }
    div.keresokeret{
        border-radius: 10px;
        padding: 5px 0 0 0;
    }
    div.keresomezo{
        border-radius: 10px;
        width: 270px;
    }
    p.toltelek{
        width: 30px;
    }
    p.userName{
        top: 30px;
        right: 70px;
    }
}
@media screen and (max-width: 650px){
    p.toltelek{
        width: 0px;
    }
}